alembic==1.7.1
asyncpg==0.24.0
fastapi==0.68.1
uvicorn==0.15.0
psycopg2-binary==2.9.1
bcrypt==3.2.0
passlib==1.7.4
python-jose==3.3.0
python-multipart==0.0.5
sqlalchemy==1.4.23
pytest==5.4.1
requests==2.23.0
celery==4.4.2
tenacity==6.1.0
